{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 main">
          <h1 class="page-header">Dashboard</h1>
            <form action='/weixin/key' method="GET">
                <input type="text" class="form-control" name="inputURL" placeholder="http://">
                <input type="hidden" name="action" value="addposter">
                <button type="submit" class="btn btn-success">Create account</button>
            </form>
          <h2 class="sub-header">Weixin Poster</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>B64</th>
                  <th>Name</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for poster in poster_list %}
                    <tr>
                      <td>{{poster.poster_id}}</td>
                      <td>{{poster.poster_b64}}</td>
                      <td><a href="http://mp.weixin.qq.com/mp/qrcode?scene=10000004&size=102&__biz={{poster.poster_b64}}" target="_blank">{{poster.poster_name}}</td>
                      <td>
                            <!-- Single button -->
                            <div class="btn-group">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                Action <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu" role="menu">
                                <li><a href="/weixin/key?action=gather&poster={{poster.poster_b64}}">获取</a></li>
                                <li><a href="/weixin/key?action=remove_articles&poster={{poster.poster_id}}">删除文章</a></li>
                                <li><a href="/weixin/key?action=remove_poster&poster={{poster.poster_id}}">删除账号</a></li>
                              </ul>
                            </div>
                      </td>
                    </tr>
                {% endfor %}
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

